@model BooksReportViewModel

@{
    ViewData["Title"] = "Books Reports";
}

<div class="card mb4">
    <div class="card-header p-3">
        <div class="d-flex justify-content-center align-items-center">
            <h2>Filter Results</h2>
        </div>
    </div>
    <div class="card-body">
        <form id="Form" class="js-form-books" asp-controller="Reports" method="get">
            <input type="hidden" id="PageNumber" name="PageNumber" value="1" />
            <div class="row mb-5">
                <select class="form-control form-control-lg js-select2-multi" asp-for="SelectedAuthors" asp-items="@Model.DisplayAuthors" data-placeholder="Select Authors">
                    <option value=""></option>
                </select>
            </div>
            <div class="row mb-5">
                <select class="form-control form-control-lg js-select2-multi" asp-for="SelectedCategories" asp-items="@Model.DisplayCategories" data-placeholder="Select Categories">
                    <option value=""></option>
                </select>
            </div>

            <div class="row mb-2 justify-content-center">
                <button class="btn btn-primary js-indicator" type="submit">
                    <span class="input-btn-form-submit">Show Report</span>
                    <span class="spinner-border-sm js-indicator-spinner" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>

@if (Model.Books is not null)
{
    <div class="card">
        <div class="card-header">
            <div class="card-title d-flex align-items-center justify-content-between w-100">
                <div>Books</div>
                @if (Model.Books.Any())
                {
                    <div class="card-toolbar gap-3">
                        <a class="btn btn-success" asp-action="ExportsBooksToExcel" asp-route-authors="@Context.Request.Query["SelectedAuthors"]" asp-route-categories="@Context.Request.Query["SelectedCategories"]">
                            <i class="bi bi-file-earmark-excel-fill"></i>
                            Export to Excel
                        </a>
                        <a class="btn btn-danger" asp-action="ExportsBooksToPdf" asp-route-authors="@Context.Request.Query["SelectedAuthors"]" asp-route-categories="@Context.Request.Query["SelectedCategories"]">
                            <i class="bi bi-filetype-pdf"></i>
                            Export to PDF
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="card-body">
            @if (Model.Books.Any())
            {
                <partial name="_Pagination" model="new PaginationViewModel {PageNumber = Model.Books.PageNumber, TotalPages = Model.Books.TotalPages}" />
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" style="width: 100%">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Title</th>
                                <th class="text-center">Author</th>
                                <th class="text-center">Categories</th>
                                <th class="text-center">Publisher</th>
                                <th class="text-center">Publishing Date</th>
                                <th class="text-center">Hall</th>
                                <th class="text-center">Availble for rental</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Model.Books)
                            {
                                <tr>
                                    <td>@book.Title</td>
                                    <td>@book.Authors!.Name</td>
                                    <td>@string.Join(", ", book.Categories.Select(c => c.Category!.Name))</td>
                                    <td>@book.Publisher</td>
                                    <td>@book.PublishingDate.ToString("d MMM, yyyy")</td>
                                    <td>@book.Hall</td>
                                    <td>@(book.IsAvailableForRental ? "Yes" : "No")</td>
                                    <td>@(book.IsDeleted ? "Deleted" : "Available")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h5>No books were found</h5>
            }
        </div>
    </div>
}

@section Scripts
{
    <script src="~/js/reports.js" asp-append-version="true"></script>
}