@model UsersViewModel

<tr>
    <td>@Model.UserName</td>
    <td>@Model.FullName</td>
    <td>@Model.Email</td>
    <td>
        <span class="badge badge-@(Model.IsDeleted ? "danger" : "success") js-update-status">
            @(Model.IsDeleted ? "Deleted" : "Available")
        </span>
    </td>
    <td>@Model.CreatedOn</td>
    <td>@Model.LastUpdatedOn</td>
    <td style="line-height: 2;">
        <div class="btn-group dropleft">
            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z" />
                </svg>
            </button>
            <div class="dropdown-menu">
                <a href="javascript:;" class="dropdown-item js-render-modal" data-title="Edit User" data-url="/Users/Edit/@Model.Id" data-edit="Yes">Edit</a>
                <a href="javascript:;" class="dropdown-item js-status" data-url="/Users/ToggleStatus/@Model.Id">Toggle Status</a>
                <a href="javascript:;" class="dropdown-item js-render-modal" data-title="Reset Password" data-url="/Users/ResetPassword/@Model.Id" data-edit="Yes">Reset Password</a>
                <a href="javascript:;" class="dropdown-item js-confirm" data-message="Are you sure that you need unlock this user?" data-url="/Users/UnLock/@Model.Id">Unlock</a>
            </div>
        </div>
    </td>
</tr>